<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.ara.mapper.ReservationMapper">
	<insert id="insert">
	insert into r_setting(rno, date, bno, tno, r_time)
	values(#{rno}, #{date}, #{bno}, #{tno}, #{r_time});
	</insert>
	<select id="select" resultType="org.ara.model.ReservationVO">	
	select * 
	from r_setting rs
	join reservation r
	on rs.rno = r.rno
	where bno = #{bno};
	</select>
	<delete id="delete">
	delete from r_setting where 
	<choose>
		<when test="bno==0">
		rno=#{rno};
		</when>
		<otherwise>
		bno=#{bno};
		</otherwise>
		</choose>
	</delete>
	
	<update id="update">
	update reservation 
	set email=#{email},r_name=#{r_name},r_phone=#{r_phone}
	where rno=#{rno};
	</update>
	<insert id="rnoInsert">
	insert into reservation(rno,email,r_name,r_phone)
	values(#{rno},"예약가능","예약가능","예약가능")
	</insert>
	<update id="status">
	update r_setting
	set r_status=#{r_status}
	where rno=#{rno};
	</update>
</mapper>