<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.ara.mapper.ReservationMapper">
	<insert id="insert">
	insert into res_set(bno, date, r_time, people, rno)
	values(#{bno}, #{date}, #{r_time}, #{people}, #{rno});
	</insert>
	
	<update id="update">
	update res_set
	set people=#{people}
	where rno=#{rno}
	</update>
	
	<select id="select" resultType="org.ara.model.ResSetVO">	
	select *
	from res_set
	where bno=#{bno}
	and date=#{date}
	</select>

	<!-- 
	select * 
	from r_setting rs
	join reservation r
	on rs.rno = r.rno
	where bno = #{bno};
	 -->
	
	<delete id="delete">
	delete
	from r_user_info
	where rno=#{rno}
	and cno=#{cno}
	</delete>
	
<!-- 	<update id="update"> -->
<!-- 	update reservation  -->
<!-- 	set r_name=#{r_name},r_phone=#{r_phone}, -->
<!-- 	<choose> -->
<!-- 	<when test="email==''"> -->
<!-- 	email="비회원" -->
<!-- 	</when> -->
<!-- 	<otherwise> -->
<!-- 	email=#{email} -->
<!-- 	</otherwise> -->
<!-- 	</choose> -->
<!-- 	where rno=#{rno}; -->
<!-- 	</update> -->
	
	<insert id="rnoInsert">
	insert into reservation(rno,email,r_name,r_phone)
	values(#{rno},"예약가능","예약가능","예약가능")
	</insert>
	
	<update id="status">
	update res_set
	set r_status=#{r_status}
	where rno=#{rno};
	</update>
	
	<resultMap type="org.ara.model.RUserInfoVO" id="RUserInfoVO">
		<result column="rno" property="rno"/>
		<result column="email" property="email"/>
		<result column="r_name" property="r_name"/>
		<result column="r_phone" property="r_phone"/>
		<collection property="svo" resultMap="StoreVO"/>
		<collection property="rsvo" resultMap="ResSetVO"/>
	</resultMap>
	<resultMap type="org.ara.model.ResSetVO" id="ResSetVO">
		<result column="date" property="date"/>
	</resultMap>
	<resultMap type="org.ara.model.StoreVO" id="StoreVO">
		<result column="store" property="store"/>
		<result column="bno" property="bno"/>
	</resultMap>
	<select id="r_select" resultMap="RUserInfoVO">
	select rui.rno, date, email, r_name, r_phone, store, bno
	from r_user_info rui
	join(
	select rno, date, store, rs.bno
	from res_set rs
	join store s
	on rs.bno=s.bno
	)srs
	on rui.rno=srs.rno
	where r_name='예약이'
	and r_phone=01088888888;
	</select>
	<select id="list" resultType="org.ara.model.RUserInfoVO">
	select * 
	from r_user_info
	where rno=#{rno};
	</select>
	<select id="rpselect" resultType="int">
	select r_people
	from r_user_info
	where rno=#{rno}
	and cno=#{cno};
	</select>
	<select id="pselect" resultType="int">
	select people
	from res_set
	where rno=#{rno};
	</select>
	<select id="bselect" resultType="int">
	select bno
	from res_set
	where rno=#{rno};
	</select>
	<insert id="addres">
	insert into r_user_info(rno,email,r_name,r_phone,r_people,r_memo)
	values(#{rno},#{email},#{r_name},#{r_phone},#{r_people},#{r_memo})
	</insert>
	<update id="upres">
	update r_user_info
	set r_name=#{r_name},r_phone=#{r_phone},r_people=#{r_people}
	where rno=#{rno}
	and cno=#{cno};
	</update>
</mapper>