<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.ara.mapper.ResSetMapper">

<!-- insert / 예약 시간표 추가 -->
	<insert id="insert">
	insert into res_set(s_no, r_date, r_time, people, dt_no)
	values(#{s_no}, #{r_date}, #{r_time}, #{people}, #{dt_no});
	</insert>
	
<!-- select / 예약 시간표 검색, 예약 인원 검색 -->	
	<!-- 예약 시간표 검색 -->
	<select id="s_select" resultType="org.ara.model.ResSetVO">	
	select *
	from res_set
	where s_no=#{s_no}
	and r_date=#{r_date}
	</select>
	
	<!-- 예약 인원 검색 -->
	<select id="p_select" resultType="int">
	select people
	from res_set
	where s_no=#{s_no}
	and dt_no=#{dt_no};
	</select>
	
<!-- update / 예약 시간표 수정 -->	
	<update id="update">
	update res_set
	set people=#{people},r_status=#{r_status}
	where s_no=#{s_no}
	and dt_no=#{dt_no}
	</update>
</mapper>