<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.ara.mapper.ResUserMapper">
	<insert id="addres">
	insert into res_user(dt_no,email,r_name,r_phone,r_people,r_memo)
	values(#{dt_no},#{email},#{r_name},#{r_phone},#{r_people},#{r_memo})
	</insert>	
	<select id="list" resultType="org.ara.model.ResUserVO">
	select ru.dt_no, r_no, email, r_name, r_phone, r_people, r_memo
	from res_user ru
	join res_set rs
	on ru.dt_no = rs.dt_no
	where ru.dt_no=#{dt_no}
	and s_no=#{s_no};
	</select>
	<resultMap type="org.ara.model.ResUserVO" id="ResUserVO">
		<result column="rno" property="dt_no"/>
		<result column="r_name" property="r_name"/>
		<result column="r_phone" property="r_phone"/>
		<result column="r_people" property="r_people"/>
		<result column="r_memo" property="r_memo"/>
		<collection property="svo" resultMap="StoreVO"/>
		<collection property="rsvo" resultMap="ResSetVO"/>
	</resultMap>
	<resultMap type="org.ara.model.ResSetVO" id="ResSetVO">
		<result column="r_date" property="r_date"/>
	</resultMap>
	<resultMap type="org.ara.model.StoreVO" id="StoreVO">
		<result column="s_name" property="s_name"/>
		<result column="s_no" property="s_no"/>
	</resultMap>
	<select id="r_select" resultMap="ResUserVO">
	select ru.dt_no, r_name, r_phone, r_people, r_memo, r_date, s_name, s_no
	from res_user ru
	join(
	select dt_no, r_date, s_name, rs.s_no
	from res_set rs
	join store s
	on rs.s_no=s.s_no
	)srs
	on ru.dt_no=srs.dt_no
	where email=#{email}
	</select>
	
	<delete id="delete">
	delete
	from res_user
	where r_no=#{r_no}
	and dt_no=#{dt_no}
	</delete>
	<select id="rpselect" resultType="int">
	select r_people
	from res_user
	where r_no=#{r_no}
	and dt_no=#{dt_no}
	</select>
	<update id="upres">
	update res_user
	set r_name=#{r_name},r_phone=#{r_phone},r_people=#{r_people},r_memo=#{r_memo}
	where r_no=#{r_no}
	and dt_no=#{dt_no}
	</update>
</mapper>