<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ara.mapper.StoreMapper">
	
	<insert id="insert">
	insert into store(bno, store, address, open_time, close_time, first, last, cycle, p_setting, p_min, p_max)
	values(#{bno}, #{store}, #{address}, #{open_time}, #{close_time}, #{first}, #{last}, #{cycle}, #{p_setting}, #{p_min}, #{p_max});
	</insert>
	<select id="select" resultType="org.ara.model.StoreVO">
	select * from store where bno = #{bno};
	</select>
	<select id="selectAll" resultType="org.ara.model.StoreVO">
	select * from store;
	</select>
	<update id="update">
	update store
	set store=#{store},address=#{address},open_time=#{open_time},close_time=#{close_time},first=#{first},last=#{last},cycle=#{cycle},p_setting=#{p_setting}
	where bno=#{bno};
	</update>
</mapper>